<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am keen to stuck myself in things which are way too complicated. I look for possibilities and way around to problems.
        </p>
        <p>
           I love modifying things.
           I prefer logics over style :)
           Backened over Front end :)
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
           Turned to .NET with with some SQL queries occupied by some PHP APIs.
    			</li>
          <li>
            Python which I miss most and eager to get back on it.
          <li>
           I have to update an Android App which was part of the project. not much in to it.
    			<li>
            lately was working on elasticsearch some Neo4j and found interesting.
    			</li>
    			<li>
            Working with APIs and mananging on Python was last Job :)
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
