<section class="tout" id="interests">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Interests</h2>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h3 style="margin-top:0">
					My personal interests include:
				</h3>
				<ul>
					<li>
						<b>Gaming</b>. I spent most of time with bots :)
					</li>
					<li>
						<b>Hiking & climbing</b>. I have been actively involed in hiking and climnbing, started our own club
						<a href="">COMSATS Climbing Club</a> to promote and participated in inter-varsity climbing competitions.
					</li>

				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Recent Projects</h3>
				<ul>
					<li>
						OSINT Web Platform

					</li>
					<li>
						MotherCare (Android App)

					</li>
					<li>
						Help I Got Accident (Software Requirement Specification Document)

					</li>
					<li>
						E-Commerce store Card4you

					</li>
					<li>

						KillTheDeamanO (console game)

					</li>
					<li>

						Cash&Carry (.Net Project)
					</li>
				</ul>
				<h3>Other Things</h3>
				<ul>
					<li>
						Volunteer at Ismaili Boys Scout (since 2005)
					</li>
					<li>
						Active member at Rahimabad Resource Center.
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
